# SO
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/coverage/
frontend/next-env.d.ts
frontend/*.tsbuildinfo

# Ambiente
.env
.env.local
